aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
boto3
botocore
cachetools
certifi
charset-normalizer
click
contourpy
cycler
discord
discord.py
filelock
fonttools
frozenlist
fsspec
google
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-trans-new
google-cloud-translate
googleapis-common-protos
httplib2
huggingface-hub
idna
Jinja2
jmespath
joblib
kiwisolver
libretranslatepy
lxml
MarkupSafe
matplotlib
mpmath
multidict
networkx
numpy
packaging
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytorch-pretrained-bert
PyYAML
regex
requests
rsa
s3transfer
scikit-learn
scipy
six
soupsieve
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
translate
typing_extensions
Unidecode
uritemplate
urllib3
yarl
pandas